<h1>Franklin:</h1>

30x:
<%= @franklin_30.join(", ") %>
<br/>
41:
<%= @franklin_41.join(", ") %>
<br/>
45:
<%= @franklin_45.join(", ") %>
<br/>
<br/>

<h1>Laguna:</h1>


30x:
<%= @laguna_30.join(", ") %>
<br/>
41:
<%= @laguna_41.join(", ") %>
<br/>
45:
<%= @laguna_45.join(", ") %>
